<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	backupGlobals="true"
	displayDetailsOnTestsThatTriggerDeprecations="true"
	displayDetailsOnTestsThatTriggerWarnings="true"
	displayDetailsOnTestsThatTriggerNotices="true"
	displayDetailsOnTestsThatTriggerErrors="true"
	displayDetailsOnPhpunitDeprecations="true"
	colors="true"
	cacheDirectory="tests/info"
>

	<testsuites>
		<testsuite name="unit">
			<directory>tests/unit</directory>
		</testsuite>
		<testsuite name="integration">
			<directory>tests/integration</directory>
		</testsuite>
	</testsuites>

	<source>
		<include>
			<directory>src</directory>
		</include>
		<exclude>
			<directory>vendor</directory>
			<directory>coverage</directory>
			<directory>tests</directory>
		</exclude>
	</source>

	<coverage>
		<report>
			<clover outputFile="tests/info/coverage.xml"/>
			<html outputDirectory="tests/info/coverage"/>
			<text outputFile="php://stdout"/>
		</report>
	</coverage>

	<logging>
		<junit outputFile="tests/info/log/junit.xml"/>
	</logging>
</phpunit>
